extends _base.pug

mixin statCard(title, description, icon, backgroundColor)
    div(class="flex gap-6 block max-w-sm p-6 bg-white rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700")

        div(
            style=`background-color: ${backgroundColor}`
            class="flex items-center justify-center w-16 h-16 p-3 text-[#1D2026] rounded-lg dark:bg-[#1D2026] dark:text-[#F0F4FF]"
        )
            != icon

        div(class="flex flex-col gap-1.5")
            h5(class="text-2xl font-medium tracking-tight text-[#1D2026] dark:text-white")= title
            p(class="text-[#4E5566] text-sm font-normal text-gray-500 dark:text-gray-400")= description




block content
    div(class="flex flex-col gap-6")
        div(class="grid grid-cols-1 grid-rows-1 sm:grid-cols-2 sm:grid-rows-2 lg:grid-cols-4 lg:grid-rows-2 gap-6")
            +statCard("888", "Number of boats", "<svg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
            "<path d=\"M8.50522 24.1489C9.70098 23.551 11.0828 23.4782 12.3236 23.9312L12.5697 24.0288L12.8285 24.1479V24.1489L14.5833 25.0269C15.3857 25.428 16.316 25.4678 17.1439 25.147L17.1546 25.1431L17.1654 25.1382L17.3949 25.0366L17.4164 25.0269L19.1712 24.1489C20.4443 23.5123 21.9287 23.4713 23.2289 24.0259L23.4945 24.1479V24.1489L27.0394 25.9214C27.425 26.1144 27.5952 26.5657 27.4456 26.9604L27.4115 27.0386C27.221 27.4195 26.7781 27.5909 26.3871 27.4507L26.2816 27.4058L22.7494 25.6392C21.947 25.2381 21.0168 25.1981 20.1888 25.519L20.1781 25.5229L20.1673 25.5278L19.9378 25.6294L19.9271 25.6343L18.1615 26.5171C16.8879 27.1539 15.4034 27.1944 14.1029 26.6392L13.8382 26.5171L12.0824 25.6392C11.2801 25.2382 10.3497 25.1982 9.52182 25.519L9.51108 25.5229L9.50034 25.5278L9.27182 25.6294L9.25034 25.6392L5.70541 27.4116C5.31973 27.6043 4.85636 27.47 4.63022 27.1138L4.58823 27.0386C4.39811 26.6581 4.52571 26.2011 4.87143 25.9722L4.97202 25.9146L8.50522 24.1489ZM14.6664 3.1665H17.3333C17.7934 3.16658 18.1662 3.53947 18.1664 3.99951V6.18311L18.5843 6.25244L23.0228 6.9917C24.0676 7.16582 24.8333 8.07024 24.8333 9.12939V14.0659L25.1751 14.1802L27.9193 15.0942C28.5263 15.2966 28.8499 15.9453 28.6664 16.5425L28.6234 16.6606V16.6616L25.9398 22.9204L23.9417 21.9214C22.4021 21.1515 20.6071 21.1032 19.0355 21.7769L18.724 21.9214L16.9691 22.7993C16.4352 23.0662 15.8185 23.0991 15.264 22.8989L15.0306 22.7993L13.2757 21.9214C11.736 21.1515 9.94015 21.103 8.3685 21.7769L8.05795 21.9214L6.78647 22.5562L3.47787 16.7661C3.13567 16.167 3.3875 15.4149 3.99545 15.1313L4.12241 15.0806L6.82455 14.1802L7.16635 14.0659V9.12939C7.16635 8.13647 7.83959 7.28038 8.78452 7.03369L8.9769 6.9917L13.4154 6.25244L13.8333 6.18311V3.99951C13.8335 3.5395 14.2063 3.16661 14.6664 3.1665ZM23.1664 8.70557L22.7484 8.63623L16.0824 7.5249L16.0003 7.51123L15.9173 7.5249L9.25131 8.63623L8.83334 8.70557V13.5103L9.49155 13.2905L15.3148 11.3501C15.7041 11.2203 16.1209 11.2039 16.5169 11.3013L16.6849 11.3501L22.5081 13.2905L23.1664 13.5103V8.70557Z\" fill=\"#C2D2F1\" stroke=\"#1D6DB6\"/>\n" +
            "</svg>\n", "#F0F4FF")
            +statCard("951", "Total fish extracted", "<svg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
            "<path d=\"M16.9951 5.4541L17.0557 5.46484C17.1957 5.49832 17.3136 5.5914 17.3789 5.71875L17.4033 5.77539L18.3359 8.33984C18.3861 8.47921 18.3711 8.63298 18.2959 8.75879C18.238 8.85519 18.1513 8.9272 18.0498 8.96582L17.9443 8.99316L16.0898 9.25781L16.0391 10.2383C19.1366 11.0096 21.0226 12.1662 22.2959 13.1436C22.9535 13.6483 23.4144 14.0759 23.8691 14.4482C24.2804 14.785 24.7249 15.1122 25.2217 15.1709L25.418 15.1943L25.5771 15.0771L31.3008 10.8545L29.126 16.4746L29.0557 16.6553L29.126 16.8359L31.3008 22.4551L25.5771 18.2334L25.418 18.1162L25.2217 18.1387C24.7198 18.198 24.2701 18.5326 23.8535 18.875C23.3955 19.2515 22.9202 19.6911 22.251 20.2012C20.9489 21.1936 19.012 22.3648 15.8193 23.126L14.8281 23.3623L15.6221 24.002L16.916 25.0439V25.043C17.0368 25.1404 17.1049 25.2912 17.0986 25.4492C17.0924 25.5682 17.0447 25.6789 16.9658 25.7627L16.877 25.8369H16.876L15.9102 26.4688C15.7931 26.5452 15.6501 26.5685 15.5146 26.5332H15.5156C15.4148 26.5064 15.3264 26.4485 15.2617 26.3691L15.2051 26.2832V26.2822L13.9395 23.8164L13.7842 23.5146L13.4473 23.5469C12.0617 23.6786 10.7434 23.5728 9.51367 23.3047C9.65191 23.0796 9.78303 22.8576 9.90332 22.6367L10.1191 22.2236C11.0933 20.2821 11.3974 18.5512 11.3975 17.2646C11.3975 16.8745 11.3699 16.523 11.3223 16.2119L11.2686 15.915V15.9131L11.2363 15.7949C11.0621 15.2563 10.5306 14.9103 9.96582 14.9727L9.84473 14.9922C9.23662 15.1216 8.83697 15.6896 8.90234 16.293L8.92188 16.4141L8.92285 16.417C8.96396 16.6057 9 16.8959 9 17.2646C8.99996 18.121 8.80823 19.3731 8.12012 20.8506L7.97559 21.1484C7.74896 21.5993 7.47243 22.0689 7.14258 22.5566C5.23977 21.7613 3.65224 20.6158 2.49902 19.4902C1.88608 18.892 1.4012 18.3052 1.05957 17.7881C0.72937 17.2882 0.556146 16.8865 0.50293 16.6201C0.511272 16.5038 0.559279 16.3156 0.685547 16.0537C0.821173 15.7724 1.02858 15.4407 1.30859 15.0762C1.86816 14.3478 2.69304 13.518 3.73438 12.7314C5.81929 11.1566 8.72479 9.78918 12.0283 9.7168L12.2207 9.71191L12.3604 9.58105L16.6045 5.58398L16.6055 5.58496C16.7112 5.48558 16.8536 5.43854 16.9951 5.4541ZM4.77637 14.5244C3.9212 14.5244 3.22754 15.218 3.22754 16.0732C3.2277 16.927 3.92091 17.622 4.77637 17.6221C5.63177 17.6221 6.32503 16.9271 6.3252 16.0732C6.3252 15.218 5.63158 14.5244 4.77637 14.5244Z\" fill=\"#BBEBC0\" stroke=\"#23BD33\"/>\n" +
            "</svg>\n", "#E1F7E3")
            +statCard("19" , "Active trip", "<svg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
            "<path opacity=\"0.2\" d=\"M5.5 5.5V24.5L7.5 26.5H26.5V5.5H5.5Z\" fill=\"#1C70B8\"/>\n" +
            "<path d=\"M5.49994 17.9091V6.5C5.49994 6.23478 5.6053 5.98043 5.79283 5.79289C5.98037 5.60536 6.23472 5.5 6.49994 5.5H25.4999C25.7652 5.5 26.0195 5.60536 26.207 5.79289C26.3946 5.98043 26.4999 6.23478 26.4999 6.5V25.5C26.4999 25.7652 26.3946 26.0196 26.207 26.2071C26.0195 26.3946 25.7652 26.5 25.4999 26.5H16.9544\" stroke=\"#1C70B8\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M16 19L8 27L4 23\" stroke=\"#1C70B8\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "</svg>\n", "#EBEBFF")
            +statCard("100" , "Number Fishermen", "<svg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
            "<path opacity=\"0.2\" d=\"M11 20C14.5899 20 17.5 17.0899 17.5 13.5C17.5 9.91015 14.5899 7 11 7C7.41015 7 4.5 9.91015 4.5 13.5C4.5 17.0899 7.41015 20 11 20Z\" fill=\"#FD8E1F\"/>\n" +
            "<path d=\"M11 20C14.5899 20 17.5 17.0899 17.5 13.5C17.5 9.91015 14.5899 7 11 7C7.41015 7 4.5 9.91015 4.5 13.5C4.5 17.0899 7.41015 20 11 20Z\" stroke=\"#FD8E1F\" stroke-width=\"2\" stroke-miterlimit=\"10\"/>\n" +
            "<path d=\"M19.4265 7.24215C20.3205 6.99026 21.2582 6.93287 22.1762 7.07386C23.0943 7.21486 23.9715 7.55095 24.7487 8.0595C25.526 8.56805 26.1852 9.23726 26.6821 10.022C27.1789 10.8068 27.5018 11.689 27.629 12.6091C27.7562 13.5291 27.6847 14.4658 27.4194 15.3559C27.1541 16.2461 26.7012 17.069 26.0911 17.7694C25.481 18.4697 24.7278 19.0312 23.8825 19.416C23.0371 19.8008 22.119 19.9999 21.1902 20\" stroke=\"#FD8E1F\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M1.99939 24.6746C3.01456 23.2306 4.36225 22.052 5.9287 21.2384C7.49515 20.4248 9.23436 20.0001 10.9995 20C12.7646 19.9999 14.5039 20.4246 16.0704 21.238C17.6369 22.0515 18.9847 23.23 20 24.6739\" stroke=\"#FD8E1F\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M21.1902 20C22.9555 19.9987 24.6951 20.4228 26.2617 21.2364C27.8284 22.05 29.1759 23.2291 30.1902 24.6739\" stroke=\"#FD8E1F\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "</svg>\n", "#FFF2E5")
            +statCard("957 SAR" , "Total Expenses", "<svg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
            "<g opacity=\"0.4\">\n" +
            "<path d=\"M13 18.1001C13 19.2641 13.9 20.2001 15.004 20.2001H17.26C18.22 20.2001 19 19.3841 19 18.3641C19 17.2721 18.52 16.8761 17.812 16.6241L14.2 15.3641C13.492 15.1121 13.012 14.7281 13.012 13.6241C13.012 12.6161 13.792 11.7881 14.752 11.7881H17.008C18.112 11.7881 19.012 12.7241 19.012 13.8881\" stroke=\"#E34444\" stroke-width=\"1.7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M16 10.6001V21.4001\" stroke=\"#E34444\" stroke-width=\"1.7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "</g>\n" +
            "<path d=\"M28 16C28 22.624 22.624 28 16 28C9.376 28 4 22.624 4 16C4 9.376 9.376 4 16 4\" stroke=\"#E34444\" stroke-width=\"1.7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M28 8.8V4H23.2\" stroke=\"#E34444\" stroke-width=\"1.7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M22 10L28 4\" stroke=\"#E34444\" stroke-width=\"1.7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "</svg>\n", "#FFF0F0")

            +statCard("100" , "Number Employees", "<svg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
            "<path opacity=\"0.2\" d=\"M11.0001 20C14.5899 20 17.5001 17.0899 17.5001 13.5C17.5001 9.91015 14.5899 7 11.0001 7C7.41021 7 4.50006 9.91015 4.50006 13.5C4.50006 17.0899 7.41021 20 11.0001 20Z\" fill=\"#65DFE0\"/>\n" +
            "<path d=\"M11.0001 20C14.5899 20 17.5001 17.0899 17.5001 13.5C17.5001 9.91015 14.5899 7 11.0001 7C7.41021 7 4.50006 9.91015 4.50006 13.5C4.50006 17.0899 7.41021 20 11.0001 20Z\" stroke=\"#65DFE0\" stroke-width=\"2\" stroke-miterlimit=\"10\"/>\n" +
            "<path d=\"M19.4265 7.24215C20.3205 6.99026 21.2582 6.93287 22.1762 7.07386C23.0943 7.21486 23.9715 7.55095 24.7487 8.0595C25.526 8.56805 26.1852 9.23726 26.6821 10.022C27.1789 10.8068 27.5018 11.689 27.629 12.6091C27.7562 13.5291 27.6847 14.4658 27.4194 15.3559C27.1541 16.2461 26.7012 17.069 26.0911 17.7694C25.481 18.4697 24.7278 19.0312 23.8825 19.416C23.0371 19.8008 22.119 19.9999 21.1902 20\" stroke=\"#65DFE0\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M1.99933 24.6746C3.0145 23.2306 4.36219 22.052 5.92864 21.2384C7.49509 20.4248 9.2343 20.0001 10.9994 20C12.7646 19.9999 14.5038 20.4246 16.0703 21.238C17.6368 22.0515 18.9846 23.23 19.9999 24.6739\" stroke=\"#65DFE0\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M21.1902 20C22.9555 19.9987 24.6951 20.4228 26.2617 21.2364C27.8284 22.05 29.1759 23.2291 30.1902 24.6739\" stroke=\"#65DFE0\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "</svg>\n", "#65DFE01A")

            +statCard("7,461,76" , "SAR Total Earning", "<svg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
            "<path opacity=\"0.2\" d=\"M2.99933 12.1064H28.9993L29.0001 23.9999C29.0001 24.2651 28.8947 24.5195 28.7072 24.707C28.5196 24.8946 28.2653 24.9999 28.0001 24.9999H4.00006C3.73484 24.9999 3.48049 24.8946 3.29295 24.707C3.10542 24.5195 3.00006 24.2651 3.00006 23.9999L2.99933 12.1064Z\" fill=\"#1D2026\"/>\n" +
            "<path d=\"M28 7H4C3.44772 7 3 7.44772 3 8V24C3 24.5523 3.44772 25 4 25H28C28.5523 25 29 24.5523 29 24V8C29 7.44772 28.5523 7 28 7Z\" stroke=\"#1D2026\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M20.9993 21H24.9993\" stroke=\"#1D2026\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M14.9993 21H16.9993\" stroke=\"#1D2026\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M2.99933 12.1064H28.9993\" stroke=\"#1D2026\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "</svg>\n", "#F5F7FA")

            +statCard("564 SAR" , "Total Sales", "<svg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
            "<path opacity=\"0.2\" d=\"M4 10L16 17L28 10L16 3L4 10Z\" fill=\"#1C70B8\"/>\n" +
            "<path d=\"M4 22L16 29L28 22\" stroke=\"#1C70B8\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M4 16L16 23L28 16\" stroke=\"#1C70B8\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "<path d=\"M4 10L16 17L28 10L16 3L4 10Z\" stroke=\"#1C70B8\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n" +
            "</svg>\n", "#EBEBFF")


        div
            div(class="max-w-sm w-full bg-white rounded-lg shadow-sm dark:bg-gray-800 p-2 md:p-4")
                div(class="grid grid-cols-1 items-center border-gray-200 border-b dark:border-gray-700 justify-between")
                    div(class="flex justify-between items-center pt-5")
                        a(
                            href="#"
                            class=" text-base font-semibold text-[#1D2026]  dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2"
                        )
                            | Revenue
                        button(
                            id="dropdownDefaultButton"
                            data-dropdown-toggle="lastDaysdropdown"
                            data-dropdown-placement="bottom"
                            class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                            type="button"
                        )
                            | Last 7 days
                            svg(class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6")
                                path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4")

                        //- Dropdown
                        div(id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700")
                            ul(class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton")
                                li
                                    a(href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white") Yesterday
                                li
                                    a(href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white") Today
                                li
                                    a(href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white") Last 7 days
                                li
                                    a(href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white") Last 30 days
                                li
                                    a(href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white") Last 90 days




                div(id="area-chart")


