-
    var navMenuLinks = [
        {

            type: 'single',
            title: 'Home Dashboard',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6 ' viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
 <path d="M4.125 19.5V12.75H9.375" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
 <path d="M21.375 19.5H2.625" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  <path d="M9.375 19.5V8.25H14.625" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  <path d="M19.875 3.75H14.625V19.5H19.875V3.75Z" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
 </svg>`
        },
        {
            type: 'dropdown',
            title: 'Trips',
            icon: `<svg class='sidebar__icon w-6 h-6 ' viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.3995 15.2603C6.14724 14.8864 7.0191 14.8638 7.78231 15.1909V15.1899L7.94637 15.2671V15.2661L9.03133 15.8091C9.5803 16.0834 10.2168 16.1116 10.7833 15.8921L10.8048 15.8823L10.9473 15.8188L10.9581 15.8149L10.9688 15.8091L12.0665 15.2603C12.8142 14.8865 13.6862 14.8638 14.4493 15.1909V15.1899L14.6134 15.2671V15.2661L16.8155 16.3687C16.9596 16.4408 17.0286 16.6027 16.9884 16.7524L16.9649 16.8159C16.8893 16.9668 16.7139 17.0347 16.5587 16.981L16.5098 16.9604L14.3018 15.8569C13.7529 15.5826 13.1163 15.5554 12.5499 15.7749L12.5391 15.7788L12.5284 15.7837L12.3858 15.8472L12.3643 15.8569L11.2667 16.4058C10.5211 16.7785 9.65231 16.8022 8.89071 16.478L8.71981 16.3989H8.71883L7.63583 15.8569C7.08687 15.5825 6.45033 15.5554 5.88387 15.7749L5.87215 15.7788L5.86141 15.7837L5.71883 15.8472L5.69735 15.8569L3.48251 16.9644C3.33846 17.0364 3.16711 16.9944 3.07137 16.8726L3.03524 16.8159C2.95966 16.6648 3.00932 16.4821 3.14559 16.3901L3.19442 16.3628L5.3995 15.2603ZM9.1661 2.1665H10.8331C11.0171 2.1665 11.1659 2.31556 11.1661 2.49951V4.02295L11.5841 4.09229L14.3585 4.55518C14.9209 4.64897 15.333 5.13538 15.3331 5.70557V8.92627L15.6749 9.04053L17.3907 9.61182C17.6539 9.69963 17.802 9.96812 17.7511 10.229L17.7169 10.3394L16.1182 14.0688L15.0479 13.5327C14.0362 13.0268 12.8561 12.9953 11.8233 13.438L11.6192 13.5327L10.5216 14.0815C10.1931 14.2457 9.8061 14.2457 9.47762 14.0815H9.4786L8.38094 13.5327C7.3691 13.0268 6.18914 12.9952 5.15633 13.438L4.95223 13.5327L4.31551 13.8501L2.337 10.3862C2.18861 10.1266 2.28009 9.80453 2.52254 9.65576L2.63583 9.60303L4.3243 9.04053L4.6661 8.92627V5.70557C4.6662 5.17083 5.02916 4.7093 5.53817 4.57666L5.64169 4.55518L8.41512 4.09229L8.83309 4.02295V2.49951C8.83327 2.31574 8.98232 2.16677 9.1661 2.1665ZM14.6661 5.28174L14.2491 5.2124L10.0821 4.51807L10.0001 4.50439L9.91805 4.51807L5.75106 5.2124L5.33309 5.28174V8.70361L5.99129 8.48486L9.63094 7.271C9.84061 7.20115 10.0651 7.19315 10.2784 7.24561L10.3692 7.271L14.0089 8.48486L14.6661 8.70361V5.28174Z" stroke="#838383"/>
            </svg>
            `,
            links: [
                {title: 'Current trips', url: '#'},
                {title: 'Finished trips', url: '#'}
            ]
        },
        {

            type: 'single',
            title: 'Purchases',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6 ' viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 10V10.5C5.5 11.3293 6.17073 12 7 12H9C9.82927 12 10.5 11.3293 10.5 10.5V10H15.5V13.5C15.5 14.327 14.827 15 14 15H2C1.17302 15 0.5 14.327 0.5 13.5V10H5.5ZM5.75 1H10.25C10.9395 1 11.5 1.56052 11.5 2.25V4H14C14.827 4 15.5 4.67302 15.5 5.5V8H0.5V5.5C0.5 4.67302 1.17302 4 2 4H4.5V2.25C4.5 1.56052 5.06052 1 5.75 1ZM5.75 1.5C5.33636 1.5 5 1.83636 5 2.25V4H11V2.25C11 1.83636 10.6636 1.5 10.25 1.5H5.75Z" stroke="#838383"/>
            </svg>
            `
        },
        {

            type: 'single',
            title: 'Expenses',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6 ' viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.88574 15.3418C10.0107 15.8772 11.5509 15.9869 12.8799 15.4209C13.4186 15.9158 13.8666 16.6636 14.0879 17.7168L14.1338 17.9609C14.3293 19.1156 14.0225 19.8933 13.4824 20.4521L13.3711 20.5605C12.7447 21.1436 11.7796 21.4871 10.7812 21.5L10.5947 21.498C9.72715 21.4735 8.91538 21.2007 8.35059 20.7344L8.2334 20.6318C7.68589 20.1205 7.33192 19.3764 7.48047 18.207L7.51758 17.9678C7.73744 16.7243 8.25772 15.8726 8.88574 15.3418ZM13.1152 10.752C13.1259 10.7517 13.1338 10.7518 13.1396 10.752L13.2227 10.7598L13.3379 10.7803C13.4411 10.8013 13.5516 10.8385 13.6816 10.8887L12.1533 13.6797C11.759 13.841 11.2768 13.9034 10.7969 13.877C10.3204 13.8507 9.89755 13.7398 9.61426 13.5996L8.01465 10.7646L8.10156 10.7539C8.29081 10.7443 8.5266 10.7919 8.86914 11.0967V11.0977L9.14941 11.3496L9.46484 11.6318L9.7959 11.3682L10.0908 11.1328C10.3368 10.9366 10.527 10.8445 10.6621 10.8086L10.7793 10.79C10.876 10.7859 11.0024 10.7974 11.2188 10.9814L11.3164 11.0713L11.6396 11.3857L12.001 11.7373L12.3496 11.3721L12.6602 11.0459L12.6611 11.0469L12.6621 11.0459C12.8004 10.9005 12.8973 10.8286 12.9639 10.793C12.9929 10.7774 13.0186 10.768 13.043 10.7617L13.1152 10.752ZM19.5742 4.04297L19.126 3.49414L18.8311 3.13281L18.4502 3.40234C16.4471 4.82265 15.0475 6.26191 14.5889 8.24902C14.2486 8.14825 13.9161 8.07487 13.5938 8.03125C14.0915 6.83809 14.6414 5.99198 15.2842 5.30176C16.0397 4.49058 16.9436 3.87008 18.1123 3.14844L18.5986 2.84863L18.2373 2.40625L17.7314 1.78711L21.0811 0.87207L19.5742 4.04297ZM4.72559 1.60742L4.34277 2.2002L4.01855 2.70215L4.57031 2.93262C5.56363 3.34777 6.48581 4.38187 7.22461 5.56543C7.72418 6.36579 8.11186 7.19305 8.36523 7.85156C8.20009 7.83658 8.03731 7.83448 7.87305 7.84668C7.64432 7.86369 7.42294 7.90802 7.19824 7.97656C7.09367 7.32588 6.84076 6.63444 6.48047 5.96191C5.97867 5.02526 5.25216 4.08675 4.36621 3.29004L3.93945 2.90625L3.61719 3.38281L3.13281 4.09961L1.05762 0.918945L4.72559 1.60742ZM12.4805 3.85645L11.6953 3.80273L11.2109 3.76953L11.1631 4.25195C11.0699 5.18622 11.0059 5.84196 11.0303 6.48145C11.0473 6.92701 11.1092 7.35681 11.2217 7.86621C10.9531 7.84286 10.6978 7.8483 10.4414 7.87109C10.3843 6.33344 10.4916 5.47773 10.8652 4.27441L11.043 3.70312L10.4492 3.62988L9.8457 3.55469L11.4941 1.10059L12.4805 3.85645Z" stroke="#838383"/>
            </svg>
            `
        },
        {

            type: 'single',
            title: 'Sales',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6 ' viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 13.75L10 18.125L17.5 13.75" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.5 10L10 14.375L17.5 10" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.5 6.25L10 10.625L17.5 6.25L10 1.875L2.5 6.25Z" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            `
        },
        {

            type: 'single',
            title: 'Clients',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6'  viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.36816 12.4565H9.63184C12.7387 12.4565 15.2498 14.9606 15.25 18.0444C15.25 18.2099 15.1142 18.35 14.9395 18.3501H1.06055C0.885827 18.35 0.75 18.2099 0.75 18.0444C0.750193 14.9606 3.26134 12.4565 6.36816 12.4565ZM8 1.6499C8.95131 1.6499 9.86555 2.00253 10.5664 2.63428L10.7031 2.76416C11.4193 3.47702 11.8212 4.4431 11.8213 5.44971C11.8213 6.45644 11.4194 7.42329 10.7031 8.13623C9.98676 8.84912 9.0145 9.25049 8 9.25049C7.04874 9.25049 6.13444 8.89779 5.43359 8.26611L5.29688 8.13623C4.5806 7.42329 4.17871 6.45644 4.17871 5.44971C4.1788 4.50605 4.5318 3.59807 5.16602 2.90088L5.29688 2.76416C6.01325 2.05119 6.98544 1.6499 8 1.6499Z" stroke="#838383" stroke-width="1.5"/>
            </svg>
            `
        },
        {

            type: 'single',
            title: 'Earning',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6' viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5 4.375H2.5C2.15482 4.375 1.875 4.65482 1.875 5V15C1.875 15.3452 2.15482 15.625 2.5 15.625H17.5C17.8452 15.625 18.125 15.3452 18.125 15V5C18.125 4.65482 17.8452 4.375 17.5 4.375Z" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.1245 13.125H15.6245" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.37454 13.125H10.6245" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1.87454 7.56641H18.1245" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            `
        },
        {
            type: 'single',
            title: 'Boats',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6 ' viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.3995 15.2603C6.14724 14.8864 7.0191 14.8638 7.78231 15.1909V15.1899L7.94637 15.2671V15.2661L9.03133 15.8091C9.5803 16.0834 10.2168 16.1116 10.7833 15.8921L10.8048 15.8823L10.9473 15.8188L10.9581 15.8149L10.9688 15.8091L12.0665 15.2603C12.8142 14.8865 13.6862 14.8638 14.4493 15.1909V15.1899L14.6134 15.2671V15.2661L16.8155 16.3687C16.9596 16.4408 17.0286 16.6027 16.9884 16.7524L16.9649 16.8159C16.8893 16.9668 16.7139 17.0347 16.5587 16.981L16.5098 16.9604L14.3018 15.8569C13.7529 15.5826 13.1163 15.5554 12.5499 15.7749L12.5391 15.7788L12.5284 15.7837L12.3858 15.8472L12.3643 15.8569L11.2667 16.4058C10.5211 16.7785 9.65231 16.8022 8.89071 16.478L8.71981 16.3989H8.71883L7.63583 15.8569C7.08687 15.5825 6.45033 15.5554 5.88387 15.7749L5.87215 15.7788L5.86141 15.7837L5.71883 15.8472L5.69735 15.8569L3.48251 16.9644C3.33846 17.0364 3.16711 16.9944 3.07137 16.8726L3.03524 16.8159C2.95966 16.6648 3.00932 16.4821 3.14559 16.3901L3.19442 16.3628L5.3995 15.2603ZM9.1661 2.1665H10.8331C11.0171 2.1665 11.1659 2.31556 11.1661 2.49951V4.02295L11.5841 4.09229L14.3585 4.55518C14.9209 4.64897 15.333 5.13538 15.3331 5.70557V8.92627L15.6749 9.04053L17.3907 9.61182C17.6539 9.69963 17.802 9.96812 17.7511 10.229L17.7169 10.3394L16.1182 14.0688L15.0479 13.5327C14.0362 13.0268 12.8561 12.9953 11.8233 13.438L11.6192 13.5327L10.5216 14.0815C10.1931 14.2457 9.8061 14.2457 9.47762 14.0815H9.4786L8.38094 13.5327C7.3691 13.0268 6.18914 12.9952 5.15633 13.438L4.95223 13.5327L4.31551 13.8501L2.337 10.3862C2.18861 10.1266 2.28009 9.80453 2.52254 9.65576L2.63583 9.60303L4.3243 9.04053L4.6661 8.92627V5.70557C4.6662 5.17083 5.02916 4.7093 5.53817 4.57666L5.64169 4.55518L8.41512 4.09229L8.83309 4.02295V2.49951C8.83327 2.31574 8.98232 2.16677 9.1661 2.1665ZM14.6661 5.28174L14.2491 5.2124L10.0821 4.51807L10.0001 4.50439L9.91805 4.51807L5.75106 5.2124L5.33309 5.28174V8.70361L5.99129 8.48486L9.63094 7.271C9.84061 7.20115 10.0651 7.19315 10.2784 7.24561L10.3692 7.271L14.0089 8.48486L14.6661 8.70361V5.28174Z" stroke="#838383"/>
                        </svg>
                        `
        },
        {

            type: 'single',
            title: 'Warehouses',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6 ' viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 13.75L10 18.125L17.5 13.75" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2.5 10L10 14.375L17.5 10" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2.5 6.25L10 10.625L17.5 6.25L10 1.875L2.5 6.25Z" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    `
        },
        {

            type: 'single',
            title: 'Suppliers',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6'  viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.36816 12.4565H9.63184C12.7387 12.4565 15.2498 14.9606 15.25 18.0444C15.25 18.2099 15.1142 18.35 14.9395 18.3501H1.06055C0.885827 18.35 0.75 18.2099 0.75 18.0444C0.750193 14.9606 3.26134 12.4565 6.36816 12.4565ZM8 1.6499C8.95131 1.6499 9.86555 2.00253 10.5664 2.63428L10.7031 2.76416C11.4193 3.47702 11.8212 4.4431 11.8213 5.44971C11.8213 6.45644 11.4194 7.42329 10.7031 8.13623C9.98676 8.84912 9.0145 9.25049 8 9.25049C7.04874 9.25049 6.13444 8.89779 5.43359 8.26611L5.29688 8.13623C4.5806 7.42329 4.17871 6.45644 4.17871 5.44971C4.1788 4.50605 4.5318 3.59807 5.16602 2.90088L5.29688 2.76416C6.01325 2.05119 6.98544 1.6499 8 1.6499Z" stroke="#838383" stroke-width="1.5"/>
                    </svg>
                    `
        },

        {

            type: 'single',
            title: 'Accounting System',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6'  viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 0.400391H11.3438C11.8723 0.398881 12.3969 0.488639 12.8936 0.666016L13.1045 0.74707C13.5928 0.949227 14.0416 1.23491 14.4316 1.58984L14.5957 1.74609V1.74707L16.252 3.4043L16.2529 3.40527C16.6277 3.77793 16.9344 4.21284 17.1602 4.68945L17.252 4.89551C17.4542 5.38362 17.5699 5.90304 17.5947 6.42969L17.5996 6.65625V19L17.5938 19.2275C17.5399 20.2884 17.1213 21.2986 16.4082 22.0859L16.251 22.251C15.3885 23.1134 14.2187 23.5981 12.999 23.5996H5L4.77246 23.5938C3.71157 23.5399 2.7014 23.1213 1.91406 22.4082L1.74902 22.251C0.886696 21.3886 0.401977 20.2195 0.400391 19V5.00098C0.401852 3.7813 0.886583 2.61146 1.74902 1.74902C2.55756 0.940491 3.63586 0.463912 4.77246 0.40625L5 0.400391ZM5 1.59961C4.09827 1.59961 3.23333 1.95809 2.5957 2.5957C1.95808 3.23332 1.59961 4.09827 1.59961 5V19C1.59961 19.9017 1.95808 20.7667 2.5957 21.4043C3.23333 22.0419 4.09826 22.4004 5 22.4004H13C13.9017 22.4004 14.7667 22.0419 15.4043 21.4043C16.0419 20.7667 16.4004 19.9017 16.4004 19V6.59961H13C12.5757 6.59961 12.1682 6.43189 11.8682 6.13184C11.5681 5.83178 11.4004 5.42434 11.4004 5V1.59961H5ZM13.0928 17.4082C13.2106 17.4269 13.3199 17.4798 13.4062 17.5596L13.4844 17.6484C13.5543 17.7446 13.5937 17.8585 13.5986 17.9756L13.5918 18.0938C13.5674 18.2495 13.4822 18.3886 13.3555 18.4824C12.4102 19.1552 11.2924 19.5424 10.1338 19.5986C9.49811 19.5949 8.88172 19.3804 8.38281 18.9863L8.37207 18.9775L8.36133 18.9697L8.13477 18.8193C8.06169 18.7736 7.99043 18.7332 7.91992 18.7012C7.75931 18.6282 7.60856 18.5996 7.43457 18.5996H7.4043L7.37402 18.6045C6.64369 18.7175 5.95463 19.0156 5.37109 19.4688C5.27607 19.5365 5.16379 19.5741 5.04883 19.5791L4.93359 19.5732C4.77967 19.5501 4.64044 19.4674 4.5459 19.3438C4.47518 19.2512 4.43275 19.1409 4.42383 19.0264L4.42676 18.9102C4.44457 18.7577 4.52003 18.6179 4.6377 18.5195C5.45171 17.8886 6.42741 17.5015 7.45215 17.4014C8.02323 17.4147 8.5747 17.6135 9.02246 17.9688V17.9678C9.32831 18.2352 9.71737 18.3883 10.124 18.3994L10.1445 18.4004L10.165 18.3984C10.9429 18.3401 11.6944 18.1004 12.3604 17.7002L12.6406 17.5195L12.6465 17.5146C12.7432 17.4446 12.858 17.4059 12.9756 17.4014L13.0928 17.4082ZM5 13.4004H13C13.1591 13.4004 13.3113 13.4637 13.4238 13.5762C13.5363 13.6887 13.5996 13.8409 13.5996 14C13.5996 14.1591 13.5363 14.3113 13.4238 14.4238C13.3113 14.5363 13.1591 14.5996 13 14.5996H5C4.88058 14.5996 4.76488 14.5643 4.66699 14.499L4.57617 14.4238C4.46365 14.3113 4.40039 14.1591 4.40039 14C4.40039 13.8806 4.43566 13.7649 4.50098 13.667L4.57617 13.5762C4.68869 13.4637 4.84087 13.4004 5 13.4004ZM5 9.40039H13C13.1591 9.40039 13.3113 9.46365 13.4238 9.57617C13.5363 9.68869 13.5996 9.84087 13.5996 10C13.5996 10.1591 13.5363 10.3113 13.4238 10.4238C13.3113 10.5363 13.1591 10.5996 13 10.5996H5C4.88058 10.5996 4.76488 10.5643 4.66699 10.499L4.57617 10.4238C4.46365 10.3113 4.40039 10.1591 4.40039 10C4.40039 9.88059 4.43565 9.76488 4.50098 9.66699L4.57617 9.57617C4.68869 9.46366 4.84087 9.40039 5 9.40039ZM12.5996 5.40039H16.2422L15.834 4.78027C15.7088 4.59032 15.5645 4.41349 15.4033 4.25293H15.4043L13.748 2.59766L13.7471 2.59668L13.624 2.47949C13.4979 2.36576 13.3631 2.26131 13.2217 2.16699L12.5996 1.75293V5.40039Z" stroke="#838383" stroke-width="0.8"/>
            </svg>

                               `
        },


        {
            type: 'single',
            title: 'Message',
            url: '#',
            icon: '<svg class=\'sidebar__icon w-6 h-6\' viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                    '<path d="M3.5491 13.828C2.61728 12.2572 2.29094 10.4002 2.63138 8.60583C2.97182 6.81142 3.9556 5.203 5.39801 4.08261C6.84042 2.96222 8.64222 2.40692 10.4651 2.52099C12.2879 2.63506 14.0064 3.41065 15.2979 4.70212C16.5894 5.99359 17.365 7.71211 17.4791 9.53496C17.5931 11.3578 17.0379 13.1596 15.9175 14.602C14.7971 16.0444 13.1887 17.0282 11.3943 17.3687C9.59986 17.7091 7.74289 17.3828 6.17205 16.451L6.17207 16.4509L3.58171 17.191C3.47454 17.2216 3.36113 17.223 3.25323 17.1951C3.14533 17.1671 3.04688 17.1108 2.96806 17.032C2.88925 16.9532 2.83295 16.8547 2.80499 16.7468C2.77703 16.6389 2.77843 16.5255 2.80905 16.4184L3.54916 13.828L3.5491 13.828Z" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>\n' +
                    '<path d="M10 9.8125C10.1036 9.8125 10.1875 9.89645 10.1875 10C10.1875 10.1036 10.1036 10.1875 10 10.1875C9.89645 10.1875 9.8125 10.1036 9.8125 10C9.8125 9.89645 9.89645 9.8125 10 9.8125Z" fill="#838383" stroke="#838383" stroke-width="1.5"/>\n' +
                    '<path d="M6.25 9.8125C6.35355 9.8125 6.4375 9.89645 6.4375 10C6.4375 10.1036 6.35355 10.1875 6.25 10.1875C6.14645 10.1875 6.0625 10.1036 6.0625 10C6.0625 9.89645 6.14645 9.8125 6.25 9.8125Z" fill="#838383" stroke="#838383" stroke-width="1.5"/>\n' +
                    '<path d="M13.75 9.8125C13.8536 9.8125 13.9375 9.89645 13.9375 10C13.9375 10.1036 13.8536 10.1875 13.75 10.1875C13.6464 10.1875 13.5625 10.1036 13.5625 10C13.5625 9.89645 13.6464 9.8125 13.75 9.8125Z" fill="#838383" stroke="#838383" stroke-width="1.5"/>\n' +
                    '</svg>\n'
        },
        {

            type: 'single',
            title: 'Users',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6'  viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M6.36816 12.4565H9.63184C12.7387 12.4565 15.2498 14.9606 15.25 18.0444C15.25 18.2099 15.1142 18.35 14.9395 18.3501H1.06055C0.885827 18.35 0.75 18.2099 0.75 18.0444C0.750193 14.9606 3.26134 12.4565 6.36816 12.4565ZM8 1.6499C8.95131 1.6499 9.86555 2.00253 10.5664 2.63428L10.7031 2.76416C11.4193 3.47702 11.8212 4.4431 11.8213 5.44971C11.8213 6.45644 11.4194 7.42329 10.7031 8.13623C9.98676 8.84912 9.0145 9.25049 8 9.25049C7.04874 9.25049 6.13444 8.89779 5.43359 8.26611L5.29688 8.13623C4.5806 7.42329 4.17871 6.45644 4.17871 5.44971C4.1788 4.50605 4.5318 3.59807 5.16602 2.90088L5.29688 2.76416C6.01325 2.05119 6.98544 1.6499 8 1.6499Z" stroke="#838383" stroke-width="1.5"/>
                 </svg>
                 `
        },

        {

            type: 'single',
            title: 'Discounts',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6' viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.4268 1.05371C12.6375 0.851159 12.9842 0.853397 13.1934 1.05859L13.874 1.72656V1.72363L18.1846 5.96094C20.0126 7.75733 20.0702 10.6066 18.3564 12.4688L18.1846 12.6455L13.8105 16.9443C13.6275 17.1241 13.3393 17.1483 13.1289 17.0156L13.0439 16.9492C12.8647 16.7767 12.8416 16.5125 12.9736 16.3164L13.0391 16.2363H13.04L17.4102 11.9375C18.847 10.5249 18.8919 8.27735 17.5449 6.8125L17.4102 6.67285L12.4229 1.7666L12.3564 1.6875C12.243 1.51928 12.2436 1.3005 12.3594 1.13281L12.4268 1.05371ZM1.875 0.900391H7.71289C8.20487 0.900391 8.67687 1.06498 9.0498 1.36133L9.2041 1.49609L15.7646 7.87109C16.5285 8.61325 16.5767 9.78269 15.9082 10.5781L15.7646 10.7314L10.5508 15.7969C9.78104 16.5447 8.56061 16.5917 7.73438 15.9375L7.57422 15.7969L1.0127 9.42285L1.01172 9.4209L0.87207 9.27246C0.565931 8.91226 0.400391 8.46247 0.400391 7.99414V2.32129C0.400436 1.59598 0.970773 0.981381 1.72168 0.907227L1.875 0.900391ZM4.37402 3.13574C3.99437 3.13577 3.62682 3.26407 3.33301 3.49805L3.21191 3.60449C2.90131 3.90628 2.72461 4.31809 2.72461 4.75C2.72464 5.1279 2.85965 5.49047 3.10156 5.77734L3.21191 5.89551C3.52208 6.19677 3.94027 6.36423 4.37402 6.36426C4.7536 6.36426 5.12124 6.23582 5.41504 6.00195L5.53613 5.89551C5.84671 5.59375 6.0234 5.18186 6.02344 4.75C6.02344 4.37206 5.88841 4.00956 5.64648 3.72266L5.53613 3.60449C5.22593 3.3032 4.80782 3.13574 4.37402 3.13574Z" stroke="#838383" stroke-width="0.8"/>
            </svg>

                           `
        },

        {

            type: 'single',
            title: 'Permition',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6' viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99998 1.5H2C1.44771 1.5 1 1.9477 1 2.49999V15.4999C1 16.0522 1.44771 16.4999 2 16.4999H19.9999C20.5522 16.4999 20.9999 16.0522 20.9999 15.4999V11.2499" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4.00008 8H9.00007" stroke="#838383" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M4.00008 12H18" stroke="#838383" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M15.9999 7.49997C17.6568 7.49997 18.9999 6.15683 18.9999 4.49998C18.9999 2.84314 17.6568 1.5 15.9999 1.5C14.3431 1.5 12.9999 2.84314 12.9999 4.49998C12.9999 6.15683 14.3431 7.49997 15.9999 7.49997Z" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20.9999 10.7093C20.0233 8.80114 18.0764 7.5 15.834 7.5C13.1155 7.5 10.8314 9.41214 10.1838 12" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

                                     `
        },


        {

            type: 'single',
            title: 'Reports',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6' viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.57129 0.900391H11.4287C12.5172 0.900391 13.2945 0.900907 13.8848 0.978516C14.3917 1.0452 14.7144 1.16373 14.9531 1.35449L15.0508 1.44043C15.2972 1.68145 15.4431 2.00958 15.5205 2.57227C15.5996 3.1474 15.5996 3.90542 15.5996 4.9707V15.0293C15.5996 16.0946 15.5996 16.8526 15.5205 17.4277C15.4528 17.9202 15.3327 18.2329 15.1387 18.4648L15.0508 18.5596C14.8031 18.8017 14.4641 18.9453 13.8848 19.0215C13.2945 19.0991 12.5172 19.0996 11.4287 19.0996H4.57129C3.4828 19.0996 2.7055 19.0991 2.11523 19.0215C1.60827 18.9548 1.28557 18.8363 1.04688 18.6455L0.949219 18.5596C0.702754 18.3185 0.556853 17.9904 0.479492 17.4277C0.400423 16.8526 0.400391 16.0946 0.400391 15.0293V4.9707L0.401367 4.22754C0.405321 3.53792 0.420184 3.00366 0.479492 2.57227C0.547195 2.07982 0.667272 1.7671 0.861328 1.53516L0.949219 1.44043C1.19687 1.19832 1.53586 1.05473 2.11523 0.978516C2.7055 0.900907 3.4828 0.900391 4.57129 0.900391ZM4.57129 13.5117C3.72776 13.5118 3.02838 14.1828 3.02832 15.0293C3.02832 15.8758 3.72772 16.5468 4.57129 16.5469H9.14258C9.98623 16.5469 10.6855 15.8759 10.6855 15.0293C10.6855 14.1828 9.9862 13.5117 9.14258 13.5117H4.57129ZM4.57129 9.04102C3.7278 9.04109 3.02845 9.71219 3.02832 10.5586C3.02832 11.4051 3.72772 12.0761 4.57129 12.0762H11.4287C12.2723 12.0761 12.9717 11.4051 12.9717 10.5586C12.9716 9.71219 12.2722 9.04109 11.4287 9.04102H4.57129ZM4.57129 4.57031C3.72783 4.57039 3.02851 5.24157 3.02832 6.08789C3.02832 6.93438 3.72772 7.60539 4.57129 7.60547H11.4287C12.2723 7.60539 12.9717 6.93437 12.9717 6.08789C12.9715 5.24157 12.2722 4.57039 11.4287 4.57031H4.57129Z" stroke="#838383" stroke-width="0.8"/>
            </svg>


                                  `
        },

        {

            type: 'single',
            title: 'Notifications',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6' viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.71289 16.25C9.63041 16.5243 9.48147 16.7792 9.27441 16.9902C8.93318 17.3152 8.47614 17.4999 8.00195 17.5C7.51611 17.5 7.05412 17.3192 6.73438 16.9961C6.52452 16.784 6.37322 16.5267 6.29004 16.25H9.71289ZM8.00195 0.5C8.36185 0.50011 8.64453 0.789897 8.64453 1.125V2.21094L9.04688 2.29004C11.4283 2.76295 13.2168 4.83816 13.2168 7.3125V7.97656C13.2169 9.64376 13.8003 11.2557 14.8535 12.5449L15.0703 12.7988L15.333 13.0908V13.0918L15.3418 13.1016C15.4845 13.2524 15.5345 13.4651 15.4756 13.6689L15.4443 13.7559C15.3446 13.9765 15.1143 14.125 14.8594 14.125H1.14355C0.914203 14.1249 0.697853 13.9981 0.589844 13.834L0.550781 13.7617C0.466891 13.5691 0.488878 13.3365 0.602539 13.1641L0.65625 13.0938L0.658203 13.0918L0.921875 12.7988L0.920898 12.7979C2.12251 11.4694 2.78703 9.75434 2.78711 7.97656V7.3125C2.78711 4.83817 4.57462 2.76296 6.95605 2.29004L7.3584 2.21094V1.125C7.3584 0.789834 7.64196 0.5 8.00195 0.5Z" stroke="#838383"/>
            </svg>



                                             `
        },


        {

            type: 'single',
            title: 'Settings',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6' viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.00195 0.5C8.34153 0.500012 8.67565 0.52069 9.00293 0.561523L9.32812 0.609375H9.33008C9.39321 0.619685 9.45705 0.661879 9.49609 0.733398L9.52539 0.814453L9.94043 2.70996L9.99609 2.96582L10.2383 3.06641C10.7202 3.265 11.1721 3.52818 11.582 3.84375L11.79 4.00293L12.0391 3.92383L13.8857 3.33594C13.9705 3.30894 14.0524 3.32312 14.1113 3.36035L14.1621 3.4043C14.4132 3.7087 14.6424 4.03095 14.8467 4.37109V4.37207L14.998 4.63184V4.63281C15.1564 4.91894 15.2957 5.21327 15.417 5.5166L15.4863 5.70508C15.5097 5.76886 15.503 5.84639 15.4619 5.91406L15.4092 5.97852L15.4062 5.98047L13.9707 7.28906L13.7783 7.46484L13.8125 7.72363C13.8463 7.97877 13.8643 8.23951 13.8643 8.50195C13.8642 8.76418 13.8462 9.02436 13.8125 9.2793L13.7783 9.53906L13.9707 9.71484L15.4062 11.0234L15.4092 11.0254C15.4739 11.0837 15.5029 11.1601 15.5 11.2305L15.4863 11.2979C15.3505 11.6659 15.1865 12.0196 14.9971 12.3623L14.8467 12.6221C14.6925 12.8794 14.5241 13.1264 14.3428 13.3633L14.1572 13.5967L14.1562 13.5986C14.1165 13.647 14.0478 13.6806 13.9668 13.6787L13.8828 13.6641L12.0361 13.0762L11.7861 12.9971L11.5791 13.1562C11.1691 13.4719 10.7164 13.735 10.2344 13.9336L9.99316 14.0342L9.93652 14.29L9.52246 16.1855C9.50257 16.2761 9.45003 16.3379 9.38965 16.3691L9.32715 16.3906H9.3252C8.89477 16.4625 8.45113 16.5 7.99805 16.5C7.65847 16.5 7.32435 16.4793 6.99707 16.4385L6.67188 16.3906H6.66992C6.60679 16.3803 6.54295 16.3381 6.50391 16.2666L6.47461 16.1855L6.05957 14.29L6.00391 14.0342L5.76172 13.9336L5.40625 13.7734C5.05642 13.6008 4.7255 13.393 4.41797 13.1562L4.20996 12.9971L3.95996 13.0771L2.11621 13.668C2.03199 13.6945 1.95121 13.6795 1.89258 13.6426L1.8418 13.5986C1.58901 13.2922 1.35859 12.9677 1.15332 12.625H1.15234L1.00098 12.3623C0.859752 12.1065 0.732837 11.8446 0.621094 11.5752L0.513672 11.3008C0.490488 11.2369 0.496864 11.1594 0.538086 11.0918L0.59082 11.0283L0.59375 11.0264L2.0293 9.71777L2.22168 9.54199L2.1875 9.2832C2.15368 9.02437 2.13576 8.76401 2.13574 8.50195C2.13574 8.23951 2.15374 7.97878 2.1875 7.72363L2.22168 7.46484L2.0293 7.28906L0.59375 5.98047L0.59082 5.97852L0.538086 5.91406C0.497211 5.8467 0.490627 5.76968 0.513672 5.70605C0.649112 5.33915 0.812276 4.98632 1.00098 4.64453L1.15234 4.38086L1.15332 4.38184C1.30746 4.12452 1.4759 3.87751 1.65723 3.64062L1.84277 3.40625L1.84375 3.40527C1.88345 3.35675 1.95209 3.3223 2.0332 3.32422L2.11719 3.33887L3.96387 3.92676L4.21387 4.00586L4.4209 3.84668C4.83089 3.53103 5.28362 3.26795 5.76562 3.06934L6.00684 2.96973L6.06348 2.71387L6.47754 0.817383C6.49751 0.726938 6.54999 0.664941 6.61035 0.633789L6.67285 0.613281L6.67871 0.612305C7.10675 0.537761 7.54896 0.5 8.00195 0.5ZM8.00195 5.34473C6.25957 5.34473 4.84961 6.75872 4.84961 8.50195C4.84977 10.2451 6.25967 11.6582 8.00195 11.6582C9.7441 11.658 11.1541 10.245 11.1543 8.50195C11.1543 6.75881 9.7442 5.34489 8.00195 5.34473Z" stroke="#838383"/>
            </svg>




                                                        `
        },

        {

            type: 'single',
            title: 'Sign out',
            url: '#',
            icon: `<svg class='sidebar__icon w-6 h-6' viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.3136 8.0625L20.2501 12L16.3136 15.9375" stroke="#1D6DB6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.75 12H20.2472" stroke="#1D6DB6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.75 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V4.5C3.75 4.30109 3.82902 4.11032 3.96967 3.96967C4.11032 3.82902 4.30109 3.75 4.5 3.75H9.75" stroke="#1D6DB6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>





                                                                    `
        },


    ]
<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
<span class="sr-only">Open sidebar</span>
<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
</svg>
</button>
aside(id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar" )
    img(src="../assets/images/logo.svg" alt="logo" class="w-30 h-16 mx-auto mt-4 mb-2")
    div(class="h-full px-3 py-4 overflow-y-auto bg-white dark:bg-gray-800")
        ul(class="space-y-2 font-medium")
            each item, idx in navMenuLinks
                if item.type === 'single'
                    li(class="sidebar__item")
                        a(
                            href=item.url
                            class="sidebar__link flex gap-1 font-medium text-base items-center p-2 text-gray-500 rounded-lg transition-all dark:text-#000 hover:text-blue-700 dark:hover:bg-gray-700 group"
                        )
                            != item.icon
                            span(class="ms-3")= item.title
                else if item.type === 'dropdown'
                    - var dropdownId = `dropdown-example-${idx}`
                    li(class="sidebar__item")
                        button(
                            type="button"
                            aria-controls=dropdownId
                            data-collapse-toggle=dropdownId
                            class="flex items-center w-full p-2 text-base text-gray-500 transition duration-75 rounded-lg group hover:text-blue-700 dark:text-white dark:hover:bg-gray-700"
                        )
                            != item.icon
                            span(class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap font-medium text-base")= item.title
                            svg(
                                class="w-3 h-3"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 10 6"
                            )
                                path(
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m1 1 4 4 4-4"
                                )
                        ul(id=dropdownId class="hidden py-2 space-y-2")
                            each link in item.links
                                li
                                    a(
                                        href=link.url
                                        class="flex items-center w-full p-2 text-gray-500 transition duration-75 rounded-lg pl-11 group hover:text-blue-700 dark:text-white dark:hover:bg-gray-700"
                                    )= link.title
