mixin chartCard(title, dropdownItems = ['Yesterday', 'Today', 'Last 7 days', 'Last 30 days', 'Last 90 days'])
    - const dropdownId = title.toLowerCase().replace(/\s+/g, '-') + '-dropdown'
    - const buttonId = dropdownId + '-button'
    div(class="w-full bg-white rounded-lg shadow-sm dark:bg-gray-800 p-2 md:p-4")
        div(class="grid grid-cols-1 items-center border-gray-200 border-b dark:border-gray-700 justify-between")
            div(class="flex justify-between items-center")
                h2(class="text-base font-semibold text-[#1D2026] dark:text-white px-3 py-2") #{title}
                div(class="relative")
                    button(
                        id=buttonId
                        data-dropdown-toggle=dropdownId
                        data-dropdown-placement="bottom"
                        class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                        type="button"
                    )
                        | Last 7 days
                        svg(class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6")
                            path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4")

                    div(id=dropdownId class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700")
                        ul(class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby=buttonId)
                            each item in dropdownItems
                                li
                                    a(href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white") #{item}

        div(class="mt-4")
            block